#demo-calendar
#demo-start-end
.mbsc-grid.mbsc-no-padding
    .mbsc-row
        .mbsc-col-6
            label Start
            input#demo-start.mbsc-input(mbsc-input data-input-style="outline" data-label-style="stacked" placeholder="Please select..." readonly class="mbsc-ios mbsc-ltr  mbsc-textfield mbsc-textfield-outline mbsc-textfield-stacked mbsc-textfield-outline-stacked")
        .mbsc-col-6
            label End
            input#demo-end.mbsc-input(data-input-style="outline" data-label-style="stacked" placeholder="Please select...")
