.popup.close-popup#closeMessagePopup
    .popup__close(data-fancybox-close)
        span
        span
    .popup__inner
        h2.popup__title.text-center Вы уверены, что хотите закрыть окно?
        p.popup__text Все внесенные вами изменения не сохранятся
        form.form.actions()
            button.btn.btn-primary(type="submit") да
            button.btn.btn-outlined(type="button" data-fancybox-close) Отмена
