.popup#everadPopup
    .popup__close(data-fancybox-close)
        span
        span
    .popup__inner
        h2.popup__title Выплата на Everad
        form.form.popup__form.finances-form(method="post")
            .fieldset
                input.input(name="pay_sum" type="text" required)#pay_sum
                label.label(for="pay_sum") Сумма выплаты в рублях 
                    span *
            .fieldset
                input.input(name="wallet_num" type="text" required)#wallet_num
                label.label(for="wallet_num") E-mail в LuckyAds
                    span *
            button.btn-primary.btn Заказать выплату
