ul.pagination
    li.pagination__item
        a(href="") 
            i.icon-to-start
    li.pagination__item
        a(href="")
            i.icon-left-open
    li.pagination__item
        a(href="")._active 1
    li.pagination__item
        a(href="") 2
    li.pagination__item
        a(href="") 3
    li.pagination__item
        a(href="") 4
    li.pagination__item
        a(href="") 5
    li.pagination__item
        a(href="") ...
    li.pagination__item
        a(href="") 10
    li.pagination__item
        a(href="")
            i.icon-right-open
    li.pagination__item
        a(href="")
            i.icon-to-end
