.popup#parkingDomain
    .popup__close(data-fancybox-close)
        span
        span
    .popup__inner
        h2.popup__title Парковка домена
        form.form.popup__form
            .fieldset
                input.input(type="text" name="parking" required id="parking")
                label.label(for="parking") Домен
            button.btn.btn-primary(type="submit") ПРИпарковать домен
