.record-count
    span Отобразить по
    .record-count__value 10
    ul.record-count__options
        li.record-count__option 10
        li.record-count__option 25
        li.record-count__option 50
        li.record-count__option 100
