.record-count
    span Отобразить по
    .record-count__value 
        span.value 10
        i.icon-down-dir.icon
    ul.record-count__options
        .triangle-with-shadow
        li.record-count__option(rel="5") 5
        li.record-count__option(rel="10") 10
        li.record-count__option(rel="25") 25
        li.record-count__option(rel="50") 50
        li.record-count__option(rel="100") 100
