.popup#archivePopup
    .popup__close(data-fancybox-close)
        span
        span
    .popup__inner
        h2.popup__title Архивирование потока
        p.popup__text Вы уверены что хотите архивировать поток “Шо там ваще”?
        form.form.archive_request
            button.btn.btn-primary(type="submit") да, архивировать
            button.btn.btn-outlined(type="button" data-fancybox-close) Нет
