.calendar-trigger {
    padding: 15px 10px;
    background: $color-white;
    border: 1px solid $color-gray-dark;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 0 0 200px;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;

    .icon {
        margin-right: 7px;
    }
}
