.filter {
    border-radius: 8px;
    padding: 0 10px;
    background: $color-white;
    border: 1px solid $color-gray-dark;
    flex: 1 0 auto;
    * {
        user-select: none;
    }
    &__item {
        cursor: pointer;
        font-size: 14px;
        line-height: 16px;
        &:not(:first-child) {
            border-top: 1px solid $color-gray-dark;
        }
    }
    &__header {
        overflow: hidden;
        padding: 15px 25px 15px 0;
        cursor: pointer;
        .icon {
            position: absolute;
            right: -2px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__body {
        position: absolute;
        top: 100%;
        left: -1px;
        width: calc(100% + 2px);
        background: $color-white;
        z-index: 2;
        padding: 0 10px;
        display: none;
        border: 1px solid $color-gray-dark;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    &._opened {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        .filter__body {
            display: block;
        }
    }
    input {
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        left: 0;
    }

    label {
        display: block;
        width: 100%;
        height: 100%;
        padding: 15px 0;
        cursor: pointer;
    }

    input:checked + label {
        color: $color-yellow;
    }
}
