.tooltip {
    padding: 8px;
    box-shadow: 0 11px 26px rgba(128, 141, 162, 0.35);
    border-radius: 4px;
    background: #fff;
    font-style: italic;
    font-size: 12px;
    line-height: 16px;
    position: fixed;
}
