block config
    - var pagetitle = 'Error: 404 Page not found'
    - var bodyClass = 'error error_404'
    - var pageName = '404'
    - var name = 'error'
doctype html
html(lang=__.lang, class="no-js")
    head
        block head
            include _includes/head
            block styles
                link(rel='stylesheet', href='assets/css/common.css?v=' + PACKAGE.version)
    body.body(class=bodyClass)
        h1 Error: 404 Page not found
        .error__code
            span 4
            img(src="assets/img/ghost.svg" alt="")
            span 4
        p Возникла ошибка, ваш запрос не может будет закончен.
        p Проверьте URL, или вернитесь 
            a(href="./").link На главную, 
            | или обратите в 
            a(href="mailto:").link Службу поддержки.
        .illustration
            img(src="assets/img/illustration.svg" alt="")
        block scripts
            include _includes/scripts
