extends _includes/layout
include _includes/mixins/filter

block config
    - var pagetitle = 'FAQ'
    - var bodyClass = 'faq'
    - var pageName = 'FAQ'
    - var name = 'faq'
    - var headerIcon = 'icon-brain-icon'

block content
    .content
        .content__inner
            .faq__item
                .faq__item--header
                    p С чего начать работу?
                    button.faq__item--toggler
                        i.icon-down-dir.icon
                .faq__item--body
                    ol
                        li Зарегистрироваться, если этого ещё не сделал. Вот 
                            a(href='#').link ссылка 
                            |.
                        li В кабинете вебмастера (или “лаборатории”) выбирай пункт “новости” и возле интересующей новости нажимай +.
                        li Заполняешь все необходимые пункты и копируешь полученную ссылку.
                        li На ссылку закупаешь трафик из разрешенных источников.
                        li Масштабируешь связки.
            .faq__item
                .faq__item--header
                    p Какие модели и форматы работы использованы?
                    button.faq__item--toggler
                        i.icon-down-dir.icon
                .faq__item--body
                    p Сейчас мы работаем только по CPA, но в дальнейшем будет расширение форматов.
            .faq__item
                .faq__item--header
                    p Есть ли ограничения по количеству трафика и есть ли капа?
                    button.faq__item--toggler
                        i.icon-down-dir.icon
                .faq__item--body
                    p Капы нет, поэтому можешь лить, сколько душе угодно. Автоматические алгоритмы сами будут распределять трафик по топовым связкам, если у одного из партнеров закончится капа.
            .faq__item
                .faq__item--header
                    p Можно ли лить на витрину через API?
                    button.faq__item--toggler
                        i.icon-down-dir.icon
                .faq__item--body
                    p Можно. Вся техническая документация по 
                        a(href="").link ссылке 
                        |.
            .faq__item
                .faq__item--header
                    p Могу ли я добавить свои связки на витрину?
                    button.faq__item--toggler
                        i.icon-down-dir.icon
                .faq__item--body
                    p Можно, но не всегда нужно - не факт, что твоя промка попадет в ротацию. У нас механизм живет своей прекрасной жизнью и подстраивает все так, чтоб ты получил максимально возможный EPC. Если все ещё не передумал - 
                        strong напиши своему менеджеру
            .faq__item
                .faq__item--header
                    p Могу ли я добавить свои связки на витрину?
                    button.faq__item--toggler
                        i.icon-down-dir.icon
                .faq__item--body
                    p Можно, но не всегда нужно - не факт, что твоя промка попадет в ротацию. У нас механизм живет своей прекрасной жизнью и подстраивает все так, чтоб ты получил максимально возможный EPC. Если все ещё не передумал - 
                        strong напиши своему менеджеру
            .faq__item
                .faq__item--header
                    p Какой тип новости выбрать: короткую или полную?
                    button.faq__item--toggler
                        i.icon-down-dir.icon
                .faq__item--body
                    p Выбирай короткую. Опытным путем доказано, что она приносит больше денег.
            .faq__item
                .faq__item--header
                    p Возможно ли предложить свою новость?
                    button.faq__item--toggler
                        i.icon-down-dir.icon
                .faq__item--body
                    p Конечно, без проблем. 
                        strong Пиши своему менеджеру 
                        | и тебе помогут
            .faq__item
                .faq__item--header
                    p На какие ГЕО можно лить и есть ли ограничения по каким-либо ГЕО?
                    button.faq__item--toggler
                        i.icon-down-dir.icon
                .faq__item--body
                    p Сейчас у нас доступна только Россия, но мы на ней не остановимся - Европа и Азия на очереди.
            .faq__item
                .faq__item--header
                    p Какая аудитории лучше всего монетизируется на витрине?
                    button.faq__item--toggler
                        i.icon-down-dir.icon
                .faq__item--body
                    p Лучше всего конвертит возрастная аудитория Ж М 55+, но и для 30+ мы найдем что предложить.
            .faq__item
                .faq__item--header
                    p Есть ли ограничения по источникам трафика?
                    button.faq__item--toggler
                        i.icon-down-dir.icon
                .faq__item--body
                    p Мы принимаем трафик из:
                    ul
                        li Тизерных сетей
                        li Google Ads
                        li Яндекс.Директ
                        li MyTarget
                    p Остальные варианты надо обсуждать с менеджерами.
            .faq__item
                .faq__item--header
                    p Надо ли использовать клоакинг?
                    button.faq__item--toggler
                        i.icon-down-dir.icon
                .faq__item--body
                    p Если собираешься лить из гугла или яндекса, то без клоакинга никуда. В тизерных сетях пройдешь модерацию без проблем.
            .faq__item
                .faq__item--header
                    p Как анализировать трафик? Ключевые показатели статистики и ориентировочные средние по ним.
                    button.faq__item--toggler
                        i.icon-down-dir.icon
                .faq__item--body
                    p Если говорить просто о сложном - сравнивай стоимость клика по своему объявлению с EPC. Сравнивать лучше с периодом, когда данные по выплатам уже устаканились и не меняются. Чем меньше трата на клик и больше EPC - тем больше ты заработал.  
            .faq__item
                .faq__item--header
                    p Как часто обновляется статистика?
                    button.faq__item--toggler
                        i.icon-down-dir.icon
                .faq__item--body
                    p Статистика обновляется так быстро, как только возможно. Дольше всего может обрабатываться апрувы, потому что колл-центрам необходимо время на прозвон клиентов.
            .faq__item
                .faq__item--header
                    p Сколько на витрине офферов и какие ставки на них? С какими ПП вы работаете?
                    button.faq__item--toggler
                        i.icon-down-dir.icon
                .faq__item--body
                    p На витрине более 150 офферов с высокими ставками, которые мы не можем разглашать. Но уверяем тебя - в нашей “лаборатории” все твои тесты будут в удовольствие. Мы работаем с лучшими партнерскими программами СНГ, среди которых Everad, LuckyOnline, KMA и прочие. Мы постоянно пополняем список партнерок, так что офферов всегда будет в изобилии.
            .faq__item
                .faq__item--header
                    p Как часто обновляются дизайны витрины? Можно ли предложить свой дизайн?
                    button.faq__item--toggler
                        i.icon-down-dir.icon
                .faq__item--body
                    p Внутренний отдел медиабаинга тестирует разные варианты дизайна и сравнивает конверсию. Если какой-либо дизайн скажется на конверсии, то он появится в списке.
                    p Предлагать своё видение дизайна можно, 
                        a(href="mailto:").link 
                            strong отправляй на почту           
            .faq__item
                .faq__item--header
                    p Можно ли установить на витрину сторонние пиксели FB/Google/Mail/Yandex?
                    button.faq__item--toggler
                        i.icon-down-dir.icon
                .faq__item--body
                    p Да, это можно сделать в соответствующем разделе “Пиксели” в личной “лаборатории”.
            .faq__item
                .faq__item--header
                    p Детали по сбору PUSH базы, ее монетизации, жизненному циклу подписчиков.  Можно ли выгрузить PUSH базу?
                    button.faq__item--toggler
                        i.icon-down-dir.icon
                .faq__item--body
                    p Сбор пуш баз находится в разработке. Следите за обновлениями.
            .faq__item
                .faq__item--header
                    p Есть ли ограничения по сумме  и валютам выплаты? 
                    button.faq__item--toggler
                        i.icon-down-dir.icon
                .faq__item--body
                    p Выплаты производятся в рублях и долларах. Холд существует только для новорегов и составляет 10000 рублей.
            .faq__item
                .faq__item--header
                    p Какие способы вывода денег поддерживаются? 
                    button.faq__item--toggler
                        i.icon-down-dir.icon
                .faq__item--body
                    p Варианты выплат находится в разработке. Следите за обновлениями.
            //.faq__item
            //    .faq__item--header
            //        p Что такое поток и как его использовать?
            //        button.faq__item--toggler
            //            i.icon-down-dir.icon
            //    .faq__item--body
            //        p Расписать пункт, когда будет готов финальный вариант функционала.
            //.faq__item
            //    .faq__item--header
            //        p Какие форматы рекламных объявлений поддерживаются?
            //        button.faq__item--toggler
            //            i.icon-down-dir.icon
            //    .faq__item--body
            //        p Добавить пункт после того, как появятся различные форматы.
