mixin headerMessage()
    li.header__messages--item
        .header__messages--icon
            .icon(class=attributes.icon)
        .header__messages--content
            p.message-title=attributes.title
            p.message-date=attributes.date
