mixin switch()
    .switch-item
        label.switch
            input(type="checkbox" name=attributes.name value=attributes.value)
            span.slider
        p.switch__name=attributes.switch_name
        if attributes.helper
            .helper(data-text=attributes.helperText)
                span ?
