mixin dropdownItem()
    label.table-settings__item.dropdown-item=attributes.title
        input(type="checkbox" name="table_settings" id=attributes.id value=attributes.value)
        .check
            i.icon-ok.icon
            
