mixin table()
    table
        thead
            tr
                th Дата
                    .sort-icons
                        i.icon-up-dir.icon._up
                        i.icon-down-dir.icon._down
                th Переходы
                    .sort-icons
                        i.icon-up-dir.icon
                        i.icon-down-dir.icon
                th Уники
                    .sort-icons
                        i.icon-up-dir.icon
                        i.icon-down-dir.icon
                th Показы
                    .sort-icons
                        i.icon-up-dir.icon
                        i.icon-down-dir.icon
                th Клики
                    .sort-icons
                        i.icon-up-dir.icon
                        i.icon-down-dir.icon
                th CTR, %
                    .sort-icons
                        i.icon-up-dir.icon
                        i.icon-down-dir.icon
                th EPC
                    .sort-icons
                        i.icon-up-dir.icon
                        i.icon-down-dir.icon
                th Лиды
                    .sort-icons
                        i.icon-up-dir.icon
                        i.icon-down-dir.icon
                th CR, %
                    .sort-icons
                        i.icon-up-dir.icon
                        i.icon-down-dir.icon
                th % Аппрува
                    .sort-icons
                        i.icon-up-dir.icon
                        i.icon-down-dir.icon
                th Доход
                    .sort-icons
                        i.icon-up-dir.icon
                        i.icon-down-dir.icon
                th Домонетизизация
                    .sort-icons
                        i.icon-up-dir.icon
                        i.icon-down-dir.icon
                th В ожидании
                    .sort-icons
                        i.icon-up-dir.icon
                        i.icon-down-dir.icon
        tbody
            - for (let i = 0; i < 5; i++)
                tr
                    td 12.02.2021
                    td 10
                    td 10к
                    td 100к
                    td 250
                    td 0
                    td 0
                    td 100
                    td 20
                    td 25
                    td 0
                    td 0
                    td 0
